<div id="page-wrapper">
        <div class="main-page login-page ">
            <h2 class="title1">Login</h2>
            <div class="widget-shadow">
                <div class="login-body">
                    <form (ngSubmit)="onsubmit()">
                        <input type="email" class="user" name="email" placeholder="Mobile Number" required="" [(ngModel)]="mobile">
                        <input type="password" name="password" class="lock" placeholder="Password" required="" [(ngModel)]="password">
                        <div class="forgot-grid">
                            <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Remember me</label>
                            <div class="forgot">
                                <a href="#">forgot password?</a>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <input type="submit" name="Sign In" value="Sign In">
                        <div class="registration">
                            Don't have an account ?
                            <a routerLink="signup" routerLinkActive="active">
                                Create an account
                              </a>
                            <!-- <a class="" href="signup.html">
                                Create an account
                            </a> -->
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>