
<div id="page-wrapper">
    <div class="main-page signup-page">
        <h2 class="title1">SignUp Here</h2>
        <div class="sign-up-row widget-shadow">
            <h5>Personal Information :</h5>
        <form action="#" method="post" (ngSubmit)="onsubmit()">
            <div class="sign-u">
                        <input type="text" name="firstname" placeholder="First Name" required=""  [(ngModel)]="firstName">
                        <div class="clearfix"> </div>
            </div>
            <div class="sign-u">
                <input  type="text" placeholder="Last Name" name="lastName"  [(ngModel)]="lastName">
                <div class="clearfix"> </div>
            </div>
            <div class="sign-u">
                <input type="text" placeholder="Admin Id" name="admin"  [(ngModel)]="adminId">
        <div class="clearfix"> </div>
    </div>
    <div class="sign-u">
        <input class="input--style-1" type="text" placeholder="Mobile" name="mobile"  [(ngModel)]="mobile">
        <div class="clearfix"> </div>
        </div>
         

            <h6>Login Information :</h6>
            <div class="sign-u">
                        <input type="password" name="password" placeholder="Password" required=""  [(ngModel)]="password">
                <div class="clearfix"> </div>
            </div>
            <div class="sign-u">
                        <input type="password" name="reenter" placeholder="Confirm Password" required=""  [(ngModel)]="repeat">
                </div>
                <div class="clearfix"> </div>
            <div class="sub_home">
                    <input type="submit" value="Submit">
                <div class="clearfix"> </div>
            </div>
            <div class="registration">
                Already Registered.
                <a routerLink="" class="" >
                   Login
                  </a>
            </div>
        </form>
        </div>
    </div>
</div>